.box {
    color: black;
    height: 22px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat-SemiBold.ttf') format('woff2');
}
.mapps {
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: #969696;
    transition: color 0.1s ease;
}
a:hover {
    color: #ffffff;
}